@import url('https://fonts.googleapis.com/css2?family=Playwrite+CA:wght@100..400&display=swap');

body{
  background-color:rgb(93, 109, 145);
  color: black;
  font-family: "Manrope", sans-serif;
  margin: 0px;
  padding: 0px;
  text-align: center;
}

h1{ 
  font-family: "Manrope", sans-serif;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 18px;
  background-color: rgb(152, 177, 190);
  display: inline-block;
  padding:15px;
  margin: 30px auto;
  font-size: 80px;
  box-shadow: 0 0 40px rgb(14, 14, 29);
}

h2{
font-family: "Manrope", sans-serif;
}

section{
  background-color:rgb(152, 177, 190);
  border: 4px solid rgb(152, 177, 190);
  padding: 40px;
  margin: 30px auto;
  font-size: 20px;
  text-align: left;
  width: 80%;
  border-radius: 20px;
}

img{
 border: 3px solid black;
 border-radius: 10px;
 display: block;
 margin: 20px auto;
}

button{
  background-color: rgb(52, 73, 94);
  color: white;
  border: none;
  padding: 12px 24px;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: block;
  margin: 20px auto;
}
