@import url('https://fonts.googleapis.com/css2?family=Playwrite+CA:wght@100..400&display=swap');


body{
 background-color:rgb(93, 109, 145);
 color: black;
 font-family: "Manrope", sans-serif;
 margin: 0px;
 padding: 0px;
 text-align: center;
}


h1{
 font-family: "Manrope", sans-serif;
 color: rgb(0, 0, 0);
 border: none;
 border-radius: 18px;
 background-color: rgba(197, 214, 224);
 display: inline-block;
 padding:15px;
 margin: 30px auto;
 font-size: 80px;
 box-shadow: 0 0 50px rgb(2, 2, 59);
}


h2{
font-family: "Manrope", sans-serif;
}


section{
 background-color:rgba(197, 214, 224);
 border: 4px solid rgb(197, 214, 224);
 padding: 40px;
 margin: 30px auto;
 font-size: 20px;
 text-align: left;
 width: 80%;
 border-radius: 20px;
 box-shadow: 0 0 50px rgb(2, 2, 59);

}


img,
iframe {
border-radius: 10px;
display: block;
display: flex;
gap: 20px;
margin: 20px auto;
box-shadow: 0 0 50px rgb(80, 80, 137);

}

#videoBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #2c3e50;
  color: white;
  border: none;
  padding: 15px 20px;
  border-radius: 50%;
  font-size: 24px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;
}

#videoBtn:hover {
  transform: scale(1.1);
}